[hidden] {
  display: none;
}

html {
  background-color: #0E1214;
  color: #fff;
  font-size: 10px;
  font-family: 'FiraSans';
}

body {
  margin: 0;
  overflow: hidden;
}

a {
  display: block;
  font-size: 2rem;
  padding: 1rem;
}

#player-button[hidden] {
  display: flex !important;
  visibility: hidden;
}

#tab-bar {
  transform: translate(0, 0);
  visibility: visible;
  transition: transform 0.2s linear, visibility 0s linear;
}

[data-active-view-id="player"] #tab-bar {
  transform: translate(0, 4.6rem);
  visibility: hidden;
  transition-delay: 0s, 0.2s;
}

#view-stack {
  position: absolute;
  top: 5rem;
  bottom: 4.6rem;
  left: 0;
  width: 100%;
  transition: bottom 0s linear 0.2s;
}

[data-active-view-id="player"] #view-stack {
  bottom: 0;
  transition-delay: 0s;
}
