[hidden] {
  display: none;
}

html {
  background-color: #0E1214;
  color: #fff;
  font-size: 10px;
  font-family: 'FiraSans';
}

body {
  margin: 0;
}

a {
  display: block;
  font-size: 2rem;
  padding: 1rem;
}
