<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Artists</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
  <link rel="stylesheet" href="/components/gaia-fonts/style.css">
  <link rel="stylesheet" href="/components/gaia-icons/gaia-icons-embedded.css">
  <link rel="stylesheet" href="/components/gaia-theme/gaia-theme.css">
  <link rel="stylesheet" href="/css/view.css">
  <script src="/elements/music-list-item.js"></script>
</head>
<body class="theme-media" role="application">
  <section id="content">
    <a is="music-list-item"
       href="/artist-detail?id=1"
       title="Artist Detail (1)">
    </a>
    <a is="music-list-item"
       href="/artist-detail?id=2"
       title="Artist Detail (2)">
    </a>
    <a is="music-list-item"
       href="/artist-detail?id=3"
       title="Artist Detail (3)">
    </a>
  </section>

  <script src="/js/view.js"></script>
  <script src="/views/artists/view.js"></script>
</body>
</html>
